# Compilados Delphi
*.~*
*.dcu
*.dcp
*.dcuil
*.exe
*.dll
*.bpl
*.drc
*.dres
*.map
*.identcache
*.local
*.tds
*.dproj.local
*.groupproj.local
*.a
*.lib
*.so
*.o
*.rsm

# Arquivos de backup
*.bak
*.old

# Arquivos de cache/tempor√°rios
__history/
__recovery/
*.stat
*.tvsconfig
*.ipch
*.log

# Arquivos de configura√ß√µes do Delphi IDE
*.dsk
*.dof
*.cfg
*.tvsconfig
*.identcache
*.tmp
*.rs~

# Arquivos do Git
*.orig

# Pastas geradas automaticamente
Win32/
Win64/
Debug/
Release/
x64/
x86/

# Diret√≥rios bin√°rios ou de distribui√ß√£o (caso use)
bin/
build/
dist/
out/

# Delphi IDE project upgrade backup
*_UpgradeBackup/

# Exclui configuraÁıes especÌficas do usu·rio
*.user

